<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="/media/default-card.jpg" />
</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>


