<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="https://blog.snork.dev/media/default-card.jpg" />
    {% if description %}
        <meta property="og:description" content="{{ description|truncate(200) }}" />
        <meta name="description" content="{{ description|truncate(200) }}" />
    {% endif %}
</head>
<body>
    {% if session.authenticated %}
    <header>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/edit/">Edit</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>


