{% extends "base.html" %}
{% block content %}
<div class="container">
    <header>
        <h1>Login</h1>
    </header>
    <section>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post" action="{{ url_for('login') }}">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </section>
</div>
{% endblock %}
{% block footer %}
    <a href="/">&laquo; Back to Blog</a>
{% endblock %}